@import 'colors.scss';

body {
  min-height: 100vh;
  background: linear-gradient(
    to bottom,
    $midgrey 0%,
    $midgrey 70%,
    $white 100%
  );
  overflow: hidden;
}

// expand full screen
.app-container {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

// vertically expand to fill space
.launch-pad-container {
  opacity: 0.5;
  min-width: 400px;
  width: 30%;
  background: black;
  display: flex;
  align-items: center;
}

.main-panel-container {
  flex-direction: row;
  width: 100%;
  margin-top: 150px;
}

.copyright {
  position: absolute;
  right: 12px;
  bottom: 12px;
  color: $midgrey;
  text-align: center;
}

.rocket-container {
  height: 100%;
}

.launch-pad-button {
  width: 100%;
}
